/* App */
.app {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(240, 240, 240);
}

/* Header */
header {
  background-color: rgb(255, 255, 255);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 80%;
  width: auto;
}

/* NavBar */
nav {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 0px 20px;
  height: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}
::-webkit-scrollbar {
  height: 5px;
}
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgb(220, 220, 220);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(200, 200, 200);
}
.navBtn {
  height: 60%;
  border: 1.5px solid rgb(150, 150, 150);
  min-width: 100px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 6.5px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.16);
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
.navBtn:hover {
  border: 3px solid rgb(150, 150, 150);
  margin: 0px 5px;
}
.navBtnSelected {
  border: 3px solid rgba(0, 0, 0, 0);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: 600;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(-3px);
}
.navBtnSelected:hover {
  border: 3px solid rgb(0, 0, 0);
  margin: 0px 6.5px;
}

/* Content */
.content {
  min-height: calc(100vh - 145px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentContainer {
  background-color: rgb(255, 255, 255);
  min-width: 90vw;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  min-height: calc(calc(100vh - 145px) * 0.9);
  margin: 10px;
}
.contentHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: calc(calc(calc(100vh - 145px) * 0.9) * 0.25);
  padding: 0px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.contentTitle {
  margin: 10px 0;
  font-size: 40px;
}
.descriptionTitle {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.description {
  margin: 0;
  text-align: center;
  margin-bottom: 10px;
}
.contentSubsection {
  width: calc(50% - 40px);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}
.queriesContainer {
  width: 100%;
  min-height: 75%;
  min-height: calc(calc(calc(100vh - 145px) * 0.9) * 0.75);
  display: flex;
  flex-direction: row;
}
.contentSubsection1 {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.subContainerTitle {
  margin: 0;
  font-size: 30px;
}

/* Table */
.tableContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100% - 50px);
  margin-top: 20px;
}
.tableRow {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.cell {
  width: 110px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cellText {
  margin: 0;
  text-align: center;
}
.cellHeader {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-weight: 600;
}
.cell1 {
  background-color: rgb(230, 230, 230);
}

/* Inputs */
.submitBtn {
  height: 40px;
  font-size: 20px;
  width: 200px;
  border-radius: 100px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-weight: 700;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  align-self: center;
  margin-top: 20px;
}
.submitBtn:hover {
  transform: translateY(-5px);
  transform: scale(1.05);
}
.dateInput {
  background-color: rgb(230, 230, 230);
  border: 0;
  padding: 5px 10px;
  border-radius: 100px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
}
.datesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px 0px;
}
.a {
  margin: 5px 20px;
}
.inputTitle {
  font-weight: 600;
  margin: 20px 0px 0px 0px;
  text-align: center;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toggleContainer {
  display: flex;
  flex-direction: row;
  height: 30px;
  background-color: rgb(230, 230, 230);
  border-radius: 100px;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
.toggleItem {
  margin: 0px 3px;
  height: 24px;
  border-radius: 100px;
  padding: 0px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0);
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
.toggleItemSelected {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
}
.searchBy {
  margin: 10px 0px 5px 0px;
}
.input {
  height: 30px;
  background-color: rgb(230, 230, 230);
  border-radius: 100px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  width: 300px;
  padding: 0px 10px;
  border: 0;
  margin: 10px 0px;
}
.noInputRequired {
  text-align: center;
}
.reminder {
  margin: -5px 0 0 0;
  font-size: 12px;
  color: rgb(100, 100, 100);
  font-weight: 500;
}

/* Responsiveness */
@media only screen and (max-width: 800px) {
  .queriesContainer {
    flex-direction: column;
  }
  .contentSubsection {
    width: calc(100% - 40px);
    min-height: 1px;
  }
  .contentSubsection1 {
    border-right: 0px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
@media only screen and (max-width: 450px) {
  .datesContainer {
    flex-direction: column;
  }
}
